body {
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #00eeff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #007ab3;
}


.history {
    margin-top: 20px;
    padding: 20px;
}

#history {
    width: 100%;
    height: 150px;
}